body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

#filePath {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
